@font-face {
    font-family: "iconfont";
    /* Project id 4261761 */
    src: url('iconfont.ttf?t=1695263661243') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhishiguanli:before {
    content: "\e6b3";
}

.icon-yisheng:before {
    content: "\e649";
}

.icon-yisheng1:before {
    content: "\e7ad";
}

.icon-nurse:before {
    content: "\e7bd";
}

.icon-add:before {
    content: "\e664";
}

.icon-arrow-down:before {
    content: "\e665";
}

.icon-ashbin:before {
    content: "\e666";
}

.icon-arrow-right:before {
    content: "\e667";
}

.icon-browse:before {
    content: "\e668";
}

.icon-bottom:before {
    content: "\e669";
}

.icon-back:before {
    content: "\e66a";
}

.icon-bad:before {
    content: "\e66b";
}

.icon-arrow-double-left:before {
    content: "\e66c";
}

.icon-arrow-double-right:before {
    content: "\e66d";
}

.icon-camera:before {
    content: "\e66e";
}

.icon-chart-bar:before {
    content: "\e66f";
}

.icon-code:before {
    content: "\e670";
}

.icon-close:before {
    content: "\e671";
}

.icon-check-item:before {
    content: "\e672";
}

.icon-calendar:before {
    content: "\e673";
}

.icon-comment:before {
    content: "\e674";
}

.icon-complete:before {
    content: "\e675";
}

.icon-chart-pie:before {
    content: "\e676";
}

.icon-customer-service:before {
    content: "\e677";
}

.icon-delete:before {
    content: "\e678";
}

.icon-direction-down:before {
    content: "\e679";
}

.icon-download:before {
    content: "\e67a";
}

.icon-elipsis:before {
    content: "\e67b";
}

.icon-export:before {
    content: "\e67c";
}

.icon-edit:before {
    content: "\e67d";
}

.icon-eye-close:before {
    content: "\e67e";
}

.icon-email:before {
    content: "\e67f";
}

.icon-error:before {
    content: "\e680";
}

.icon-favorite:before {
    content: "\e681";
}

.icon-file-delete:before {
    content: "\e682";
}

.icon-file-add:before {
    content: "\e683";
}

.icon-film:before {
    content: "\e684";
}

.icon-fabulous:before {
    content: "\e685";
}

.icon-file:before {
    content: "\e686";
}

.icon-folder-close:before {
    content: "\e687";
}

.icon-filter:before {
    content: "\e688";
}

.icon-good:before {
    content: "\e689";
}

.icon-hide:before {
    content: "\e68a";
}

.icon-history:before {
    content: "\e68b";
}

.icon-file-open:before {
    content: "\e68c";
}

.icon-keyboard-26:before {
    content: "\e68d";
}

.icon-keyboard-9:before {
    content: "\e68e";
}

.icon-link:before {
    content: "\e68f";
}

.icon-layers:before {
    content: "\e690";
}

.icon-lock:before {
    content: "\e691";
}

.icon-map:before {
    content: "\e692";
}

.icon-menu:before {
    content: "\e693";
}

.icon-help:before {
    content: "\e694";
}

.icon-mic:before {
    content: "\e695";
}

.icon-more:before {
    content: "\e696";
}

.icon-play:before {
    content: "\e697";
}

.icon-print:before {
    content: "\e698";
}

.icon-pdf:before {
    content: "\e699";
}

.icon-picture:before {
    content: "\e69a";
}

.icon-save:before {
    content: "\e69b";
}

.icon-search:before {
    content: "\e69c";
}

.icon-share:before {
    content: "\e69d";
}

.icon-scanning:before {
    content: "\e69e";
}

.icon-sign-out:before {
    content: "\e69f";
}

.icon-select:before {
    content: "\e6a0";
}

.icon-success:before {
    content: "\e6a1";
}

.icon-smile:before {
    content: "\e6a2";
}

.icon-switch:before {
    content: "\e6a3";
}

.icon-setting:before {
    content: "\e6a4";
}

.icon-survey:before {
    content: "\e6a5";
}

.icon-time:before {
    content: "\e6a6";
}

.icon-telephone:before {
    content: "\e6a7";
}

.icon-unlock:before {
    content: "\e6a8";
}

.icon-user:before {
    content: "\e6a9";
}

.icon-upload:before {
    content: "\e6aa";
}

.icon-work:before {
    content: "\e6ab";
}

.icon-warning:before {
    content: "\e6ac";
}

.icon-add-bold:before {
    content: "\e6ad";
}

.icon-close-bold:before {
    content: "\e6ae";
}

.icon-arrow-down-bold:before {
    content: "\e6af";
}

.icon-minus-bold:before {
    content: "\e6b0";
}

.icon-arrow-right-bold:before {
    content: "\e6b1";
}

.icon-select-bold:before {
    content: "\e6b2";
}

.icon-tubiao_-29:before {
    content: "\e716";
}

.icon-tubiao_--:before {
    content: "\e717";
}

.icon-tubiao_-30:before {
    content: "\e718";
}

.icon-tubiao_-31:before {
    content: "\e719";
}

.icon-tubiao_--1:before {
    content: "\e71a";
}

.icon-waike:before {
    content: "\e71b";
}

.icon-huayanke:before {
    content: "\e6ca";
}

.icon-yanke---:before {
    content: "\e6cd";
}

.icon-mazuike--:before {
    content: "\e6d1";
}

.icon-zhongyike:before {
    content: "\e6d4";
}

.icon-pifuke---:before {
    content: "\e6d7";
}

.icon-quanke-:before {
    content: "\e6db";
}

.icon-neike-:before {
    content: "\e6dc";
}

.icon-erke---:before {
    content: "\e6e2";
}

.icon-naoke-:before {
    content: "\e6e5";
}

.icon-zhengxingke--:before {
    content: "\e6e7";
}

.icon-tubiao_-:before {
    content: "\e6eb";
}

.icon-guke-:before {
    content: "\e6ed";
}

.icon-erbihou-:before {
    content: "\e6ee";
}

.icon-nanke--:before {
    content: "\e6f1";
}

.icon-shengzhike-:before {
    content: "\e6f2";
}

.icon-chuanran--:before {
    content: "\e6f7";
}

.icon-kangfuke:before {
    content: "\e6f8";
}

.icon-qitake-:before {
    content: "\e6f9";
}

.icon-tubiao_-1:before {
    content: "\e6fa";
}

.icon-tubiao_-2:before {
    content: "\e6fb";
}

.icon-tubiao_-3:before {
    content: "\e6fc";
}

.icon-tubiao_-4:before {
    content: "\e6fd";
}

.icon-tubiao_-5:before {
    content: "\e6fe";
}

.icon-tubiao_-6:before {
    content: "\e6ff";
}

.icon-tubiao_-7:before {
    content: "\e700";
}

.icon-tubiao_-8:before {
    content: "\e701";
}

.icon-tubiao_-9:before {
    content: "\e702";
}

.icon-tubiao_-10:before {
    content: "\e703";
}

.icon-tubiao_-11:before {
    content: "\e704";
}

.icon-tubiao_-12:before {
    content: "\e705";
}

.icon-tubiao_-13:before {
    content: "\e706";
}

.icon-tubiao_-14:before {
    content: "\e707";
}

.icon-tubiao_-15:before {
    content: "\e708";
}

.icon-tubiao_-16:before {
    content: "\e709";
}

.icon-tubiao_-17:before {
    content: "\e70a";
}

.icon-tubiao_-18:before {
    content: "\e70b";
}

.icon-tubiao_-19:before {
    content: "\e70c";
}

.icon-tubiao_-20:before {
    content: "\e70d";
}

.icon-tubiao_-21:before {
    content: "\e70e";
}

.icon-tubiao_-22:before {
    content: "\e70f";
}

.icon-tubiao_-23:before {
    content: "\e710";
}

.icon-tubiao_-24:before {
    content: "\e711";
}

.icon-tubiao_-25:before {
    content: "\e712";
}

.icon-tubiao_-26:before {
    content: "\e713";
}

.icon-tubiao_-27:before {
    content: "\e714";
}

.icon-tubiao_-28:before {
    content: "\e715";
}